html{
    background-color: black;
    text-align: center;
}
p{
    font-size: 21px;
    color: gray;
    font-family: Verdana;
}
h2{
    font-size: 42px;
    font-weight: 300;
    font-family: Verdana;
    color: white;
}
h1{
    font-family: Verdana;
    color: white;
    font-weight: normal;
    font-size: 50px;
}
a{
    font-size: 16px;
    color: aquamarine;
}
video{
    algi
}